<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ماشین حساب</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
    <div class="box">
        <div class="view">
            <div id="box">0</div>
        </div>
        <div class="keys">
            <ul id="t1">
                <li id="multiple" att="multiple">*</li>
                <li id="divide" att="divide">/</li>
                <li id="power_2" att="power_2">x&#178;</li>
                <li id="radical" att="radical">&#8730;x</li>
            </ul>
            <div class="tt">
                <ul id="t2">
                    <li>
                        <div>7</div>
                        <div>8</div>
                        <div>9</div>
                    </li>
                    <li>
                        <div>4</div>
                        <div>5</div>
                        <div>6</div>
                    </li>
                    <li>
                        <div>1</div>
                        <div>2</div>
                        <div>3</div>
                    </li>
                    <li id="r0">
                        <div><b>C</b></div>
                        <div>0</div>
                    </li>
                </ul>
                <ul id="t3">
                    <li id="plus" att="plus">+</li>
                    <li id="minus" att="minus">-</li>
                    <li id="equal" att="equal">=</li>
                </ul>
            </div>
        </div>
    </div>
</body>
<script src="static/js/script.js"></script>

</html>