* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
  transition: 0.25s linear;
}

html {
  overflow-y: scroll;
}

body {
    background: #7dd0bd; /* background */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    background: #0c1adb6f; /* box */
    border-radius: 20px;
    position: absolute;
    top: 10%;
    min-width: calc(350px);
    max-width: calc(600px);
    height: calc(500px);
    width: 40%;
}